html{
	background-color: #eaf0f2;
}

body{
	padding:0;
	margin:0;
}

img {
	box-shadow: 0px 0px 10px #999999;
} 

.logo-container img, #image-wrapper img {
	box-shadow: none;
}


.header-basic-light{
	padding: 20px 40px;
	box-sizing:border-box;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	height: 110px;
	background-color: #fff; /*something yellow?*/
}

.header-basic-light .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic-light .header-limiter h1{
	float: left;
	/*font: normal 28px Cookie, Arial, Helvetica, sans-serif;*/
	font-family: 'Cedarville Cursive', cursive;
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Londrina Sketch', cursive;
	/*font-family: 'Bungee Hairline', cursive;*/
	font-family: 'Cabin Sketch', cursive;
	/*font-family: 'Londrina Outline', cursive;*/
	font-family: 'Jacques Francois Shadow', cursive;
	font-weight: normal;
	font-size: 60px;
	/*line-height: 40px;*/
	margin: 0;
	margin-top: -10px;
}

.header-basic-light .header-limiter h1 a {
	color: #5d6066;
	text-shadow: 0px 0px 1.5px #abc3ed;
}


.header-basic-light .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-basic-light .header-limiter a {
	color: #5c616a;
	text-decoration: none;
}

.header-basic-light .header-limiter .contact, .contact a {
	color: #aaa !important;
	margin-top: 10px;
	text-decoration: none;
	/*font:15px Arial, Helvetica, sans-serif !important;*/
}

.contact a:hover {
	color: #888 !important;
}

#email {
	cursor: default;
}

#social-no-click {
-webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.header-basic-light .header-limiter nav {
	margin-top: 5px;
}

.header-basic-light .header-limiter nav, .contact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px; /*og arial 15px*/
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
	line-height: 40px;
	float: right;
	clear: right;
	/*margin-top: 10px;*/
}


.header-basic-light .header-limiter nav a, .contact {
	display: inline-block;
	/*padding started at 5px*/
	text-decoration:none;
	color: #5c616a;
	line-height:1;
	font-weight: bolder;
	position: relative;
	opacity: 0.9;
}

.header-basic-light .header-limiter nav a {
	padding:6px 4px;
	margin: 0px 4px;
}

.contact {
	margin-right: 8px;
}

.subnav-container {
	display: inline-block;
	text-decoration:none;
	color: #5c616a;
	line-height:1;
	font-weight: bolder;
	position: relative;
}

.subnav-container .data-viz-nav {
	position: absolute;
}

.subnav-container a {
	/*background: #f5f5f5;
	border-bottom: 2px solid #ccc;*/
} /*turn on hover only in jquery*/

.subnav-container a:hover {
	background: #f5f5f5;
	border-bottom: 2px solid #ccc;
}

.subnav-container .data-viz-nav a {
	display: block;
	width: 100%;
	background: white;
	opacity: 1.0 !important;
	padding: 6px 3px !important;
}

.subnav-container .data-viz-nav {
	display: none;
} /*changes on hover*/


.header-basic-light .header-limiter nav a:hover {
	background-color: #eeeeee;
	border-radius: 3px;
}

.header-basic-light .header-limiter nav a.selected {
	/*background-color: #fafafa;*/
	/*color: #ffffff;*/
	/*border-radius: 3px;*/
	color: #7392c9;
	font-weight:bolder;
	border-bottom: 1.5px solid #7392c9 !important;
}

.page-content .data-viz-nav {
	padding-bottom: 20px;
}

.page-content .data-viz-nav a {
	/*font: normal 28px Cookie, Arial, Helvetica, sans-serif;*/
	font-family: 'Cedarville Cursive', cursive;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: #5c616a;
	font-size: 16px;
	text-decoration: none;
	margin: 0px 10px;
	text-transform: uppercase;
}

.page-content .data-viz-nav a.selected {
	/*font: normal 28px Cookie, Arial, Helvetica, sans-serif;*/
	text-decoration: none;
	color: #7392c9;
	border: 1.5px solid #8baae0;
	border-radius: 3px;
	padding:3px 8px !important;
}

.page-content .data-viz-nav a:hover {
	color: #2a67d1;
}


/* Robin's additions */

/*.page-content {
	margin: 40px 10%;
}*/

.page-content {
	background-color: #eaf0f2;
	text-align: center;
	padding-top: 25px;
	padding-bottom:40px;
	max-width: 90%;
	margin: 20px auto;
}

.page-content h2 {
	font-family: 'Averia Sans Libre', cursive;
	font-family: 'Dosis', sans-serif;
	font-size: 52px;
	font-weight: bolder;
	color: #333;
	margin: 20px auto;
}

.page-content img {
	max-width: 100%;
}

.page-content p {
	margin: auto;
	max-width: 800px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 16px;
	font-family: Roboto;
	line-height: 1.4;
}

.page-content p a {
	text-decoration: none;
	color: #7392c9;
}

.page-content p a:hover {
	color: #2a67d1;
}

.page-content img{
	/*opacity: 0.4;*/
	margin: 0 auto;
}

.page-content .about p {
	text-align: center;
	font-size: 18px;
}

.page-content .slide, .page-content .snip, .page-content .infographic {
	margin: 20px auto;
}

.slide {
	width: 640px;
	max-width: 80%;
	display: block;
}

.snip {
	max-height: 400px;
	width: 640px;
	max-width: 80%;
	display: block;
}

.infographic {
	width: 820px;
	max-width: 80%;
}

.thumbnail-container {
	max-width: 1400px;
	margin: auto;
}

.thumbnail {
	width: 400px;
	max-width: 80%;
	display: inline-block;
	padding: 20px;
	margin: 0px 10px;
}

.thumbnail .caption {
	text-align: left;
	cursor: default;
}

.thumbnail img {
	max-width: 100%;
	cursor: pointer;
}

.gif, .still {
	display: none;
}

.title {
	font-size: 20px;
	font-family: 'Bungee Hairline', cursive;
	font-family: 'Roboto Condensed', sans-serif;
	/*display: inline;
	padding-right: 4px;*/
}

.role {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	/*display: inline;*/
	padding-bottom: 6px;
}

.thumbnail-sketch {
	max-width: 400px;
	display: inline-block;
	margin: 10px;
}

.thumbnail-sketch img {
	max-width: 100%;
	max-height: 220px;
	vertical-align: middle;
	cursor: pointer;
	opacity: 1.0;
}

.thumbnail-sketch img:hover, .thumbnail img:hover {
	opacity: 0.6;
}

.thumbnail-logo {
	max-width: 400px;
	display: inline-block;
	margin: 30px 40px;
}

.thumbnail-logo img {
	max-width: 100%;
	max-height: 100px;
	vertical-align: middle;
	cursor: pointer;
	opacity: 1.0;
}

.logo-container {
	max-width: 1000px;
	margin: auto;
}

.fancy {
	font-family: 'Slabo 27px', serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
	color: #555;
	margin-bottom: 20px;
	margin-top: 40px;
}

p.change-vis-page {
	padding-top: 35px;
	text-align: center;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}

#overlay img {
	display:none;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
  	margin-right: auto;
}

#image-wrapper {
	height: 75%;
	width: 1200px;
	max-width: 80%;
	margin-top: 7%;
	margin-left: auto;
  	margin-right: auto;
}

#tax:hover {
	background:url("http://robinwe.is/portfolio/fluid_work_distribution.jpg");
}


/* img {
	display: block;
} */


/* Making the header responsive. (formerly 600px -- maybe something for between 600-800?) */

@media all and (max-width: 810px) {

	.header-basic-light {
		padding: 20px 0;
		height: 128px;
	}
	
	.contact {
		color: #aaa !important;
		margin-top: 0px;
		/*font:15px Arial, Helvetica, sans-serif !important;*/
	}

	.header-basic-light .header-limiter h1 {
		float: none;
		margin: -8px 0 4px;
		text-align: center;
		font-size: 42px;
		line-height: 1;
	}

	.header-basic-light .header-limiter nav, .contact {
		/*line-height: 1;*/
		margin-top: -2px;
		float:none;
	}

	.header-basic-light .header-limiter nav a, .contact {
		font-size: 14.5px;
	}
	
	.page-content {
		padding-top: 5px;
	}
	
	.page-content h2 {
		font-size: 28px;
		margin: 12px auto;
	}
	
	.page-content .about p, .page-content p {
		font-size: 14px;
		padding-top: 0;
		padding-bottom: 20px;
		max-width: 80%;
		line-height: 1.5;
	}
	
	.fancy {
		margin-top: 10px;
		font-size: 16px;
	}
	
	.thumbnail-logo {
		max-width: 100%;
		margin: 20px 15px;
	}
	
	.thumbnail-logo img {
		max-width: 100px;
		max-height: 70px;
	}
	
	.thumbnail-sketch img {
		max-width: 100%;
		max-height: 100%;
	} /*maybe only for mobile?*/
}

}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}